NODE_ENV=development
PORT=5000

DB_HOST=ballast.proxy.rlwy.net
DB_PORT=16716
DB_NAME=railway
DB_USER=root
DB_PASSWORD=jzEHOjltyrKhoFIfkNwwofRILZaTBnfM

JWT_SECRET=
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://localhost:5173

# Seed credentials for the development administrator (db:seed)
SEED_ADMIN_EMAIL=admin@vetri.local
SEED_ADMIN_PASSWORD=
